networks:
  portfolio_network:


# ---------- Backend Defaults ----------
x-backend-defaults: &backend-defaults
  volumes:
    - prod_media_data:/app/media
    - prod_static_data:/app/staticfiles
  networks:
    - portfolio_network
  environment:
    DEBUG: "False"
    DOCKER_ENV: "true"
    PYTHONPATH: "."
    SECRET_KEY: ${SECRET_KEY}
    DB_NAME: ${DB_NAME}
    DB_USER: ${DB_USER}
    DB_PASSWORD: ${DB_PASSWORD}
    DB_HOST: db
    DB_PORT: 5432
    ADMIN_DOMAIN: ${ADMIN_DOMAIN}
    API_DOMAIN: ${API_DOMAIN}
    CSRF_COOKIE_DOMAIN: ${CSRF_COOKIE_DOMAIN}
    ALLOWED_HOSTS: ${ALLOWED_HOSTS}
    CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
    CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
    EMAIL_HOST: ${EMAIL_HOST}
    EMAIL_PORT: ${EMAIL_PORT}
    EMAIL_USE_TLS: ${EMAIL_USE_TLS}
    EMAIL_HOST_USER: ${EMAIL_HOST_USER}
    EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
    DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
    CONTACT_EMAIL: ${CONTACT_EMAIL}
    SESSION_COOKIE_DOMAIN: ${SESSION_COOKIE_DOMAIN}
  depends_on:
    db:
      condition: service_healthy
    redis:
      condition: service_started


services:
  # ---------- Database ----------
  db:
    image: postgres:15
    restart: always
    networks:
      - portfolio_network
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # ---------- Redis ----------
  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - portfolio_network

  # ---------- Frontend ----------
  portfolio-fe:
    image: portfolio-frontend:${TAG}
    restart: "always"
    networks:
      - portfolio_network
    environment:
      GA_TRACKING_ID: ${GA_TRACKING_ID}

  # ---------- Backend ----------
  portfolio-be:
    <<: *backend-defaults
    image: portfolio-backend:${TAG}
    restart: always

  # ---------- Release Job ----------
  release:
    <<: *backend-defaults
    image: portfolio-backend:${TAG}
    restart: "no"
    command: >
      sh -c "
        python manage.py migrate --noinput &&
        python manage.py seed_settings &&
        python manage.py collectstatic --noinput
      "

  # ---------- Nginx ----------
  portfolio-nginx:
    image: nginx:1.25
    restart: always
    networks:
      - portfolio_network
    depends_on:
      - portfolio-be
      - portfolio-fe
    volumes:
      - ${NGINX_CONF_PATH}:/etc/nginx/nginx.conf:ro
      - ${NGINX_SSL_DIR}:/etc/nginx/ssl:ro
      - ${NGINX_LOG_DIR}:/var/log/nginx
      - prod_media_data:/app/media:ro
      - prod_static_data:/app/staticfiles:ro
    ports:
      - "80:80"
      - "443:443"

volumes:
  postgres_data:
  prod_media_data:
  prod_static_data:
