[tool.flake8]
max-line-length = 100
extend-ignore = ["E203", "W503"]
exclude = [
    ".git",
    "__pycache__",
    "backend/.venv",
    "backend/venv",
    "backend/migrations",
    "node_modules",
    ".pytest_cache",
    ".mypy_cache",
    "build",
    "dist"
]
per-file-ignores = [
    "__init__.py:F401",
    "migrations/*:E501"
]
max-complexity = 10
