.git
.gitignore
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/htmlcov
**/coverage.xml
.env
.env.*
*.sqlite3
media
staticfiles
node_modules
frontend/node_modules
dist
frontend/dist
