# ==============================================================================
# Shared error page configuration for all HTTPS server blocks.
# ==============================================================================

error_page 400 401 404 405 406 408 410 429 /404.html;
location = /404.html {
    root /usr/share/nginx/html;
}

error_page 500 502 503 504 /error.html;
location = /error.html {
    root /usr/share/nginx/html;
}

proxy_intercept_errors on;
