.container {
  flex: 1;
  width: 100%;
  height: calc(100vh - var(--space-12));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-bg2);
  font-family: var(--font-family-primary);
  background-color: var(--color-bg2);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 234, 243, 0.2);
  z-index: 1;
}

.text {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  text-align: center;
  max-width: 600px;
  line-height: var(--line-height-normal);
  z-index: 2;
}

.wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
