.starContainer {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.shootingStar {
    position: absolute;
    width: 150px;
    height: 1px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.8),
            transparent);
    pointer-events: none;
    opacity: 0;
    transform: rotate(var(--angle));
}

@keyframes fall {
    0% {
        transform: rotate(var(--angle)) translateX(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: rotate(var(--angle)) translateX(calc(var(--distance) * -1));
        opacity: 0;
    }
}