/* src/styles/components/Skeleton.module.css */
.skeleton {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  display: block;
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.03),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.text {
  height: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.title {
  height: 1.5rem;
  margin-bottom: 1rem;
  width: 60%;
}

.circle {
  border-radius: 50%;
}

.rectangular {
  border-radius: 4px;
}
